{{#if isSecondary}}
<nav class="md-nav md-nav--primary" data-md-level="0">
  <ul class="md-nav__list md-nav__item--section">
    <label class="md-nav__link" for="__nav_2" id="__nav_2_label" tabindex="">
      <span class="md-ellipsis">Navigation</span>
    </label>
    {{#foreach navigation}}
    <li class="nav-{{slug}} md-nav__item{{#if current}} md-nav__item--active{{/if}}">
      <a href="{{url absolute="true"}}" class="md-nav__link{{#if current}} md-nav__link--active{{/if}}">
        {{label}}
      </a>
    </li>
    {{/foreach}}
  </ul>
</nav>
{{else}}
<ul class="nav md-tabs__list">
  <!-- Loop through the navigation items -->
  {{#foreach navigation}}
  <li class="nav-{{slug}} md-tabs__item{{#if current}} md-tabs__item--active{{/if}}">
    <a href="{{url absolute="true"}}" class="md-tabs__link">
      {{label}}
    </a>
  </li>
  {{/foreach}}
</ul>
{{/if}}
