{{!< default}}

{{#contentFor "navPrimaryHome"}}
  <li class="md-nav__item md-nav__item--active md-nav__item--section md-nav__item--nested">
    <input class="md-nav__toggle md-toggle " type="checkbox" id="__nav_1" checked="">
    <label class="md-nav__link" for="__nav_1" id="__nav_1_label" tabindex="">
      <span class="md-ellipsis">
        Home
      </span>
      <span class="md-nav__icon md-icon"></span>
    </label>
    <nav class="md-nav" data-md-level="1" aria-labelledby="__nav_1_label" aria-expanded="true">
      <label class="md-nav__title" for="__nav_1">
        <span class="md-nav__icon md-icon"></span>
        Navigation
      </label>
      <ul class="md-nav__list">
        {{navigation type="secondary"}}
      </ul>
    </nav>
  </li>
{{/contentFor}}

<div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc">
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
      <nav class="md-nav md-nav--secondary">
        <label class="md-nav__title" for="__toc">
          <span class="md-nav__icon md-icon"></span>
          Table of contents
        </label>
        <ul class="md-nav__list" data-md-component="toc">
          {{#foreach posts}}
          <li class="md-nav__item">
            <a href="{{url}}" class="md-nav__link">
              <span class="md-ellipsis">
                {{title}}
              </span>
            </a>
          </li>
          {{/foreach}}
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="md-content" data-md-component="content">
  <div class="md-content__inner">
    {{#author}}
      <header class="md-typeset">
        <h1 class="gh-pagehead-title">{{#if name}}{{name}}{{else}}{{slug}}{{/if}}</h1>
        {{#if bio}}
          {{#if profile_image}}
            <p>
              <img align="right" alt="Profile picture" src="{{profile_image}}">
            </p>
          {{/if}}
          <p>{{bio}}</p>
        {{/if}}
        <p>
          {{#if website}}
            <a title="Website" rel="me" class="md-button md-button--primary" href="{{website}}"><span class="twemoji">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.9 17.39c-.26-.8-1.01-1.39-1.9-1.39h-1v-3a1 1 0 0 0-1-1H8v-2h2a1 1 0 0 0 1-1V7h2a2 2 0 0 0 2-2v-.41a7.984 7.984 0 0 1 2.9 12.8M11 19.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.22.21-1.79L9 15v1a2 2 0 0 0 2 2m1-16A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2"/></svg>
            </span>&nbsp;&nbsp;{{readable_url website}}</a>
          {{/if}}
          {{#if mastodon}}
            <a title="Mastodon" rel="me" class="card-link" href="{{social_url type="mastodon"}}"><span class="twemoji">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.268 5.313c-.35-2.578-2.617-4.61-5.304-5.004C17.51.242 15.792 0 11.813 0h-.03c-3.98 0-4.835.242-5.288.309C3.882.692 1.496 2.518.917 5.127.64 6.412.61 7.837.661 9.143c.074 1.874.088 3.745.26 5.611.118 1.24.325 2.47.62 3.68.55 2.237 2.777 4.098 4.96 4.857 2.336.792 4.849.923 7.256.38q.398-.092.786-.213c.585-.184 1.27-.39 1.774-.753a.06.06 0 0 0 .023-.043v-1.809a.05.05 0 0 0-.02-.041.05.05 0 0 0-.046-.01 20.3 20.3 0 0 1-4.709.545c-2.73 0-3.463-1.284-3.674-1.818a5.6 5.6 0 0 1-.319-1.433.053.053 0 0 1 .066-.054c1.517.363 3.072.546 4.632.546.376 0 .75 0 1.125-.01 1.57-.044 3.224-.124 4.768-.422q.059-.011.11-.024c2.435-.464 4.753-1.92 4.989-5.604.008-.145.03-1.52.03-1.67.002-.512.167-3.63-.024-5.545m-3.748 9.195h-2.561V8.29c0-1.309-.55-1.976-1.67-1.976-1.23 0-1.846.79-1.846 2.35v3.403h-2.546V8.663c0-1.56-.617-2.35-1.848-2.35-1.112 0-1.668.668-1.67 1.977v6.218H4.822V8.102q0-1.965 1.011-3.12c.696-.77 1.608-1.164 2.74-1.164 1.311 0 2.302.5 2.962 1.498l.638 1.06.638-1.06c.66-.999 1.65-1.498 2.96-1.498 1.13 0 2.043.395 2.74 1.164q1.012 1.155 1.012 3.12z"/></svg>
              </span>
            </a>
          {{/if}}
          {{#if bluesky}}
            <a title="Bluesky" class="card-link" href="{{social_url type="bluesky"}}"><span class="twemoji">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 10.8c-1.087-2.114-4.046-6.053-6.798-7.995C2.566.944 1.561 1.266.902 1.565.139 1.908 0 3.08 0 3.768c0 .69.378 5.65.624 6.479.815 2.736 3.713 3.66 6.383 3.364q.204-.03.415-.056-.207.033-.415.056c-3.912.58-7.387 2.005-2.83 7.078 5.013 5.19 6.87-1.113 7.823-4.308.953 3.195 2.05 9.271 7.733 4.308 4.267-4.308 1.172-6.498-2.74-7.078a9 9 0 0 1-.415-.056q.21.026.415.056c2.67.297 5.568-.628 6.383-3.364.246-.828.624-5.79.624-6.478 0-.69-.139-1.861-.902-2.206-.659-.298-1.664-.62-4.3 1.24C16.046 4.748 13.087 8.687 12 10.8"/></svg>
              </span>
            </a>
          {{/if}}
          {{#if twitter}}
            <a title="Twitter" class="card-link" href="{{social_url type="twitter"}}"><span class="twemoji">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2025 Fonticons, Inc.--><path d="M459.4 151.7c.3 4.5.3 9.1.3 13.6 0 138.7-105.6 298.6-298.6 298.6-59.5 0-114.7-17.2-161.1-47.1 8.4 1 16.6 1.3 25.3 1.3 49.1 0 94.2-16.6 130.3-44.8-46.1-1-84.8-31.2-98.1-72.8 6.5 1 13 1.6 19.8 1.6 9.4 0 18.8-1.3 27.6-3.6-48.1-9.7-84.1-52-84.1-103v-1.3c14 7.8 30.2 12.7 47.4 13.3-28.3-18.8-46.8-51-46.8-87.4 0-19.5 5.2-37.4 14.3-53C87.4 130.8 165 172.4 252.1 176.9c-1.6-7.8-2.6-15.9-2.6-24C249.5 95.1 296.3 48 354.4 48c30.2 0 57.5 12.7 76.7 33.1 23.7-4.5 46.5-13.3 66.6-25.3-7.8 24.4-24.4 44.8-46.1 57.8 21.1-2.3 41.6-8.1 60.4-16.2-14.3 20.8-32.2 39.3-52.6 54.3"/></svg>
              </span>
            </a>
          {{/if}}
          {{#if youtube}}
            <a title="YouTube" class="card-link" href="{{social_url type="youtube"}}"><span class="twemoji">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.498 6.186a3.02 3.02 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.02 3.02 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.02 3.02 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.02 3.02 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814M9.545 15.568V8.432L15.818 12z"/></svg>
              </span>
            </a>
          {{/if}}
          {{#if linkedin}}
            <a title="LinkedIn" class="card-link" href="{{social_url type="linkedin"}}"><span class="twemoji">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2025 Fonticons, Inc.--><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3M135.4 416H69V202.2h66.5V416zM102.2 96a38.5 38.5 0 1 1 0 77 38.5 38.5 0 1 1 0-77m282.1 320h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9z"/></svg>
              </span>
            </a>
          {{/if}}
        </p>
      </header>
    {{/author}}

    {{#foreach posts}}
        {{> "components/post-preview"}}
    {{/foreach}}

    {{pagination}}

  </div>
</div>
