{{!< default}}

{{#contentFor "extraHead"}}
<style>
  .md-typeset .kg-card.kg-embed-card {
    aspect-ratio: 16 / 9;
  }
  .md-typeset .kg-card.kg-embed-card > iframe {
    height: 100%;
    width: 100%;
  }
</style>
{{/contentFor}}


<div class="md-main__inner md-grid">
  {{> "components/nav-sidebar" hide-desktop=true}}
  {{#post}}
    <div class="md-sidebar md-sidebar--secondary pg-hide-mobile" data-md-component="sidebar" data-md-type="navigation">
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner md-post">
          <nav class="md-nav md-nav--primary">
            <!-- Back to overview link -->
            {{#primary_tag}}
            <div class="md-post__back">
              <div class="md-nav__title md-nav__container">
                <a href="{{url}}" class=" md-nav__link">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 11v2H8l5.5 5.5-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5 8 11z"/></svg>
                  <span class="md-ellipsis">
                    Back to index
                  </span>
                </a>
              </div>
            </div>
            {{/primary_tag}}

            <!-- Post authors -->
            <div class="md-post__authors md-typeset">
              {{#foreach authors}}
                <div class="md-profile md-post__profile">
                  <span class="md-author md-author--long">
                    <img src="{{profile_image}}" alt="{{name}}" />
                  </span>
                  <span class="md-profile__description">
                    <strong>
                      <a href="{{url}}"><span>{{name}}</span></a>
                    </strong>
                    <br />
                  </span>
                </div>
              {{/foreach}}
            </div>

            <!-- Post metadata -->
            <ul class="md-post__meta md-nav__list">
              <li class="md-nav__item md-nav__item--section">
                <div class="md-post__title">
                  <span class="md-ellipsis">
                    Metadata
                  </span>
                </div>
                <nav class="md-nav">
                  <ul class="md-nav__list">

                    {{#if @member}}
                      <li class="md-nav__item">
                        <div class="md-nav__link">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m17.75 21.16-2.75-3L16.16 17l1.59 1.59L21.34 15l1.16 1.41zM3 20v-1l2-2v-6a7 7 0 0 1 5-6.71V4a2 2 0 1 1 4 0v.29A7 7 0 0 1 19 11v1.08L18 12a6.005 6.005 0 0 0-5.66 8zm9 3a2 2 0 0 1-2-2h2.8c.24.41.53.79.85 1.13-.36.53-.96.87-1.65.87"/></svg>
                          <span class="md-ellipsis">
                            You're Subscribed!
                          </span>
                        </div>
                      </li>
                    {{else}}
                      <li class="md-nav__item">
                        <div class="md-nav__link">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 21h4c0 1.1-.9 2-2 2s-2-.9-2-2m11-2v1H3v-1l2-2v-6c0-3.1 2-5.8 5-6.7V4c0-1.1.9-2 2-2s2 .9 2 2v.3c3 .9 5 3.6 5 6.7v6zm-4-8c0-2.8-2.2-5-5-5s-5 2.2-5 5v7h10z"/></svg>
                          <span class="md-ellipsis">
                            <strong>Subscribe</strong>
                          </span>
                        </div>
                      </li>
                    {{/if}}

                    <!-- Post date -->
                    <li class="md-nav__item">
                      <div class="md-nav__link" title="Date published">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 19H5V8h14m-3-7v2H8V1H6v2H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-1V1m-1 11h-5v5h5z"/></svg>
                        <time
                          datetime="{{date format="YYYY-MM-DDTHH:mm:ssZ"}}"
                          class="md-ellipsis"
                        >
                          {{date format="MMMM DD, YYYY"}}
                        </time>
                      </div>
                    </li>

                    <li class="md-nav__item">
                      <div class="md-nav__link">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 3v15h3V3zm3 2 4 13 3-1-4-13zM5 5v13h3V5zM3 19v2h18v-2z"/></svg>
                        <span class="md-ellipsis">
                          in
                          {{#primary_tag}}
                            <a href="{{url}}">{{name}}</a>
                          {{/primary_tag}}
                        </span>
                      </div>
                    </li>
                  </ul>
                </nav>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="md-content" data-md-component="content">
      <article class="md-content__inner md-typeset">
        <header class="md-post__header">
          {{#has tag="count:>1"}}
            <nav class="md-tags">
              {{#foreach tags}}
                {{#unless @first}}
                  <a href="{{url}}" class="md-tag">{{name}}</a>
                {{/unless}}
              {{/foreach}}
            </nav>
          {{/has}}
          <h1 class="md-post__title" hidden>{{title}}</h1>
        </header>
        <section class="md-post__content gh-content gh-canvas">
          {{content}}
        </section>
        {{#if comments}}
          <section class="md-post__comments gh-comments">
            <h2>Subscriber Discussion</h2>
            {{comments title=""}}
          </section>
        {{/if}}
      </article>
    </div>
  {{/post}}
</div>
