<!doctype html>
<html lang="{{@site.locale}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "stylesheets/main.8cce3a28.min.css"}}">
    <link rel="stylesheet" href="{{asset "stylesheets/palette.ab4e12ef.min.css"}}">
    <link rel="stylesheet" href="{{asset "stylesheets/koenig.css"}}">
    <link rel="stylesheet" href="{{asset "stylesheets/fonts.css"}}">
    <link rel="stylesheet" href="{{asset "stylesheets/extra.css"}}">

    {{{block "extraHead"}}}
    {{ghost_head}}

    <script>__md_scope=new URL(".",location),__md_hash=e=>[...e].reduce(((e,_)=>(e<<5)-e+_.charCodeAt(0)),0),__md_get=(e,_=localStorage,t=__md_scope)=>JSON.parse(_.getItem(t.pathname+"."+e)),__md_set=(e,_,t=localStorage,a=__md_scope)=>{try{t.setItem(a.pathname+"."+e,JSON.stringify(_))}catch(e){}}</script>
  </head>

  <body class="{{body_class}}" dir="ltr" data-md-color-scheme="default" data-md-color-primary="indigo" data-md-color-accent="deep-purple">
    <input class="md-toggle" data-md-toggle="drawer" type="checkbox" id="__drawer" autocomplete="off">
    <input class="md-toggle" data-md-toggle="search" type="checkbox" id="__search" autocomplete="off">
    <label class="md-overlay" for="__drawer"></label>

    <header class="md-header" data-md-component="header">
      <nav class="md-header__inner md-grid">
        <a href="{{@site.url}}" class="md-header__button md-logo" data-md-component="logo">
          <img src="{{@site.logo}}" alt="{{@site.title}}">
        </a>
        <label class="md-header__button md-icon" for="__drawer">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z"/></svg>
        </label>
        <div class="md-header__title" data-md-component="header-title">
          <div class="md-header__ellipsis">
            <div class="md-header__topic">
              <span class="md-ellipsis">
                {{@site.title}}
              </span>
            </div>
            {{> "components/page-title"}}
          </div>
        </div>
        <form class="md-header__option" data-md-component="palette">
          <input class="md-option" data-md-color-media="(prefers-color-scheme)" data-md-color-scheme="default" data-md-color-primary="indigo" data-md-color-accent="deep-purple" aria-label="Switch to dark mode" type="radio" name="__palette" id="__palette_0">
          <label class="md-header__button md-icon" title="Switch to dark mode" for="__palette_1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m14.3 16-.7-2h-3.2l-.7 2H7.8L11 7h2l3.2 9zM20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69L23.31 12zm-9.15 3.96h2.3L12 9z"></path></svg>
          </label>
          <input class="md-option" data-md-color-media="(prefers-color-scheme: dark)" data-md-color-scheme="slate" data-md-color-primary="indigo" data-md-color-accent="amber" aria-label="Switch to light mode" type="radio" name="__palette" id="__palette_1">
          <label class="md-header__button md-icon" title="Switch to light mode" for="__palette_2" hidden="">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 2c-1.82 0-3.53.5-5 1.35C8 5.08 10 8.3 10 12s-2 6.92-5 8.65C6.47 21.5 8.18 22 10 22a10 10 0 0 0 10-10A10 10 0 0 0 10 2"></path></svg>
          </label>
          <input class="md-option" data-md-color-media="(prefers-color-scheme: light)" data-md-color-scheme="default" data-md-color-primary="indigo" data-md-color-accent="deep-purple" aria-label="Switch to system theme" type="radio" name="__palette" id="__palette_2">
          <label class="md-header__button md-icon" title="Switch to system theme" for="__palette_0" hidden="">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 18a6 6 0 0 1-6-6 6 6 0 0 1 6-6 6 6 0 0 1 6 6 6 6 0 0 1-6 6m8-2.69L23.31 12 20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20z"></path></svg>
          </label>
        </form>
        <div class="md-header__option">
          <div>
            <a href="/en/about/donate/" class="md-header__button md-icon pg-red" title="Donate">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m12 21.35-1.45-1.32C5.4 15.36 2 12.27 2 8.5 2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53z"></path></svg>
            </a>
          </div>
        </div>

        <script>var palette=__md_get("__palette");if(palette&&palette.color){if("(prefers-color-scheme)"===palette.color.media){var media=matchMedia("(prefers-color-scheme: light)"),input=document.querySelector(media.matches?"[data-md-color-media='(prefers-color-scheme: light)']":"[data-md-color-media='(prefers-color-scheme: dark)']");palette.color.media=input.getAttribute("data-md-color-media"),palette.color.scheme=input.getAttribute("data-md-color-scheme"),palette.color.primary=input.getAttribute("data-md-color-primary"),palette.color.accent=input.getAttribute("data-md-color-accent")}for(var[key,value]of Object.entries(palette.color))document.body.setAttribute("data-md-color-"+key,value)}</script>
      </nav>
    </header>

    <div class="md-container" data-md-component="container">
      <nav class="md-tabs" data-md-component="tabs">
        <div class="md-grid">
          {{navigation}}
        </div>
      </nav>

      {{{block "beforeContent"}}}

      <main class="md-main" data-md-component="main">
      {{{body}}}
      </main>

      {{{block "afterContent"}}}

      <footer class="md-footer">
        {{{block "beforeFooter"}}}
        <div class="md-footer-meta md-typeset">
          <div class="md-footer-meta__inner md-grid">
            <div class="md-copyright">
              <div class="md-copyright__highlight">
                Privacy Guides is a non-profit, socially motivated website that provides information for protecting your data security and privacy.<br>
                We do not make money from recommending certain products, and we do not use affiliate links.<br>
                &copy; 2021 Privacy Guides and contributors.
              </div>
            </div>
          </div>
        </div>
      </footer>


    </div>

    <div class="md-dialog" data-md-component="dialog">
      <div class="md-dialog__inner md-typeset"></div>
    </div>

    <script id="__config" type="application/json">{
      "annotate": null,
      "base": "..",
      "features": [
        "announce.dismiss",
        "navigation.tabs",
        "content.tabs.link",
        "content.tooltips"
      ],
      "search": null,
      "tags": null,
      "translations": {
        "clipboard.copied": "Copied to clipboard",
        "clipboard.copy": "Copy to clipboard",
        "search.result.more.one": "1 more on this page",
        "search.result.more.other": "# more on this page",
        "search.result.none": "No matching documents",
        "search.result.one": "1 matching document",
        "search.result.other": "# matching documents",
        "search.result.placeholder": "Type to start searching",
        "search.result.term.missing": "Missing",
        "select.version": "Select version"
      },
      "version": null
    }</script>
    <script src="{{asset "javascripts/bundle.eb438620.min.js"}}"></script>

    {{ghost_foot}}
  </body>
</html>
