{{!< default}}

{{#contentFor "extraHead"}}
<meta property="fediverse:creator" content="@privacyguides@neat.computer">
<style>
  .md-post__comments {
      background-color:var(--md-default-bg-color);
      color:var(--md-typeset-color);
      z-index: 1;
  }
  .pg-discourse-comments {
      max-width: 36rem;
      padding: 2rem 1rem;
  }
</style>
{{/contentFor}}

{{#contentFor "navPrimaryHome"}}
<li class="md-nav__item md-nav__item--active md-nav__item--section md-nav__item--nested">
  <input class="md-nav__toggle md-toggle " type="checkbox" id="__nav_1" checked="">
  <label class="md-nav__link" for="__nav_1" id="__nav_1_label" tabindex="">
    <span class="md-ellipsis">
      Home
    </span>
    <span class="md-nav__icon md-icon"></span>
  </label>
  <nav class="md-nav" data-md-level="1" aria-labelledby="__nav_1_label" aria-expanded="true">
    <label class="md-nav__title" for="__nav_1">
      <span class="md-nav__icon md-icon"></span>
      Navigation
    </label>
    <ul class="md-nav__list">
      {{navigation type="secondary"}}
    </ul>
  </nav>
</li>
{{/contentFor}}

{{#contentFor "afterContent"}}
{{> "components/comments"}}
{{/contentFor}}

{{#post}}
  {{> "components/post-sidebar"}}

  <div class="md-content" data-md-component="content">
    <article class="md-content__inner md-typeset">
      {{> "components/post-header"}}
      <section class="md-post__content gh-content gh-canvas">
        {{content}}
      </section>

      <aside style="text-align:center">
        <p>
          <span>Share this story:</span>
          <a title="Hacker News" target="_blank" class="card-link" href="https://news.ycombinator.com/submitlink?u={{url absolute='true'}}&t={{encode title}}"><span class="twemoji">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M96 96L96 544L544 544L544 96L96 96zM117.2 293.2L117 293.2C117.1 293.1 117.2 292.9 117.3 292.8C117.3 292.9 117.3 293.1 117.2 293.2zM335.2 347.1L335.2 448L303.8 448L303.8 345.3L224 192L261.3 192C313.8 290.3 310.5 293.2 320.6 317.6C332.9 290.6 326.4 293.2 381.2 192L416 192L335.2 347.1z"/></svg>
            </span>
          </a>
          <a title="Twitter" target="_blank" class="card-link" href="https://twitter.com/share?text={{encode title}}&url={{url absolute='true'}}"><span class="twemoji">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M453.2 112L523.8 112L369.6 288.2L551 528L409 528L297.7 382.6L170.5 528L99.8 528L264.7 339.5L90.8 112L236.4 112L336.9 244.9L453.2 112zM428.4 485.8L467.5 485.8L215.1 152L173.1 152L428.4 485.8z"/></svg>
            </span>
          </a>
          <a title="Bluesky" target="_blank" class="card-link" href="https://bsky.app/intent/compose?text={{url absolute='true'}}"><span class="twemoji">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M439.8 358.7C436.5 358.3 433.1 357.9 429.8 357.4C433.2 357.8 436.5 358.3 439.8 358.7zM320 291.1C293.9 240.4 222.9 145.9 156.9 99.3C93.6 54.6 69.5 62.3 53.6 69.5C35.3 77.8 32 105.9 32 122.4C32 138.9 41.1 258 47 277.9C66.5 343.6 136.1 365.8 200.2 358.6C203.5 358.1 206.8 357.7 210.2 357.2C206.9 357.7 203.6 358.2 200.2 358.6C106.3 372.6 22.9 406.8 132.3 528.5C252.6 653.1 297.1 501.8 320 425.1C342.9 501.8 369.2 647.6 505.6 528.5C608 425.1 533.7 372.5 439.8 358.6C436.5 358.2 433.1 357.8 429.8 357.3C433.2 357.7 436.5 358.2 439.8 358.6C503.9 365.7 573.4 343.5 593 277.9C598.9 258 608 139 608 122.4C608 105.8 604.7 77.7 586.4 69.5C570.6 62.4 546.4 54.6 483.2 99.3C417.1 145.9 346.1 240.4 320 291.1z"/></svg>
            </span>
          </a>
          <a title="Reddit" target="_blank" class="card-link" href="https://www.reddit.com/submit?url={{url absolute='true'}}&title={{encode title}}"><span class="twemoji">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576L101.1 576C87.4 576 80.6 559.5 90.2 549.8L139 501C92.7 454.7 64 390.7 64 320zM413.6 217.6C437.2 217.6 456.3 198.5 456.3 174.9C456.3 151.3 437.2 132.2 413.6 132.2C393 132.2 375.8 146.8 371.8 166.2C337.3 169.9 310.4 199.2 310.4 234.6L310.4 234.8C272.9 236.4 238.6 247.1 211.4 263.9C201.3 256.1 188.6 251.4 174.9 251.4C141.9 251.4 115.1 278.2 115.1 311.2C115.1 335.2 129.2 355.8 149.5 365.3C151.5 434.7 227.1 490.5 320.1 490.5C413.1 490.5 488.8 434.6 490.7 365.2C510.9 355.6 524.8 335 524.8 311.2C524.8 278.2 498 251.4 465 251.4C451.3 251.4 438.7 256 428.6 263.8C401.2 246.8 366.5 236.1 328.6 234.7L328.6 234.5C328.6 209.1 347.5 188 372 184.6C376.4 203.4 393.3 217.4 413.5 217.4L413.6 217.6zM241.1 310.9C257.8 310.9 270.6 328.5 269.6 350.2C268.6 371.9 256.1 379.8 239.3 379.8C222.5 379.8 207.9 371 208.9 349.3C209.9 327.6 224.3 311 241 311L241.1 310.9zM431.2 349.2C432.2 370.9 417.5 379.7 400.8 379.7C384.1 379.7 371.5 371.8 370.5 350.1C369.5 328.4 382.3 310.8 399 310.8C415.7 310.8 430.2 327.4 431.1 349.1L431.2 349.2zM383.1 405.9C372.8 430.5 348.5 447.8 320.1 447.8C291.7 447.8 267.4 430.5 257.1 405.9C255.9 403 257.9 399.7 261 399.4C279.4 397.5 299.3 396.5 320.1 396.5C340.9 396.5 360.8 397.5 379.2 399.4C382.3 399.7 384.3 403 383.1 405.9z"/></svg>
            </span>
          </a>
        </p>
      </aside>

      {{#foreach authors}}
        <aside>
          <div class="pg-author-card kg-card kg-cta-card kg-cta-bg-white kg-cta-minimal kg-cta-has-img" data-layout="minimal">

            <div class="kg-cta-sponsor-label-wrapper">
              <div class="kg-cta-sponsor-label">
                <span style="white-space: pre-wrap;">{{name}}</span>
              </div>
            </div>
              
            <div class="kg-cta-content">
              <div class="kg-cta-image-container">
                <a href="{{url}}"><img src="{{profile_image}}" alt="{{name}}" data-image-dimensions="288x288"></a>
              </div>

              <div class="kg-cta-content-inner">
                <div class="kg-cta-text">
                  <p dir="ltr"><span style="white-space: pre-wrap;">{{bio}}</span></p>
                </div>
                <a href="{{url}}" class="kg-cta-button " style="background-color: #F0F0F0; color: #000000;">
                  More from this author
                </a>
              </div>
            </div>

          </div>
        </aside>
      {{/foreach}}
    </article>
  </div>
{{/post}}
