{{!< default}}

<div class="md-main__inner md-grid">
  <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation">
    <div class="md-sidebar__scrollwrap">
      <div class="md-sidebar__inner">
        TEST TODO
      </div>
    </div>
  </div>
  
  <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc">
    <div class="md-sidebar__scrollwrap">
      <div class="md-sidebar__inner">
        TEST 2 TODO
      </div>
    </div>
  </div>

  <div class="md-content" data-md-component="content">
    {{#post}}
    <div class="md-content__inner">
      <article class="md-post md-post--excerpt">
        <header class="md-post__header">
          <div class="md-post__meta md-meta">
            <ul class="md-meta__list">
              <li class="md-meta__item">
                <time datetime="{{date format="YYYY-MM-DD"}}">
                  {{date format="DD MMM YYYY"}}
                </time>
              </li>
            </ul>
          </div>
        </header>
        <div class="md-post__content md-typeset">
          <h1 class="gh-card-title">{{title}}</h1>
          {{#if feature_image}}
            <figure class="gh-card-image">
              <img
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 720w,
                        {{img_url feature_image size="l"}} 960w,
                        {{img_url feature_image size="xl"}} 1200w,
                        {{img_url feature_image size="xxl"}} 2000w"
                sizes="(max-width: 1200px) 100vw, 1200px"
                src="{{img_url feature_image size="m"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
              >
            </figure>
          {{/if}}
          <section class="gh-content gh-canvas">
            {{content}}
          </section>
        </div>
      </article>
    </div>
    {{/post}}
  </div>
  
  <script>var tabs=__md_get("__tabs");if(Array.isArray(tabs))e:for(var set of document.querySelectorAll(".tabbed-set")){var labels=set.querySelector(".tabbed-labels");for(var tab of tabs)for(var label of labels.getElementsByTagName("label"))if(label.innerText.trim()===tab){var input=document.getElementById(label.htmlFor);input.checked=!0;continue e}}</script>
  <script>var target=document.getElementById(location.hash.slice(1));target&&target.name&&(target.checked=target.name.startsWith("__tabbed_"))</script>
</div>
