{{!< default}}

{{#contentFor "extraHead"}}
<meta property="fediverse:creator" content="@privacyguides@neat.computer">
<style>
  .md-post__comments {
      background-color:var(--md-default-bg-color);
      color:var(--md-typeset-color);
      z-index: 1;
  }
  .pg-discourse-comments {
      max-width: 36rem;
      padding: 2rem 1rem;
  }
</style>
{{/contentFor}}

{{#contentFor "navPrimaryHome"}}
<li class="md-nav__item md-nav__item--active md-nav__item--section md-nav__item--nested">
  <input class="md-nav__toggle md-toggle " type="checkbox" id="__nav_1" checked="">
  <label class="md-nav__link" for="__nav_1" id="__nav_1_label" tabindex="">
    <span class="md-ellipsis">
      Home
    </span>
    <span class="md-nav__icon md-icon"></span>
  </label>
  <nav class="md-nav" data-md-level="1" aria-labelledby="__nav_1_label" aria-expanded="true">
    <label class="md-nav__title" for="__nav_1">
      <span class="md-nav__icon md-icon"></span>
      Navigation
    </label>
    <ul class="md-nav__list">
      {{navigation type="secondary"}}
    </ul>
  </nav>
</li>
{{/contentFor}}

{{#contentFor "afterContent"}}
{{> "components/comments"}}
{{/contentFor}}

{{#post}}
  {{> "components/post-sidebar"}}

  <div class="md-content" data-md-component="content">
    <article class="md-content__inner md-typeset">
      {{> "components/post-header"}}
      <section class="md-post__content gh-content gh-canvas">
        {{content}}

        {{#foreach authors}}
        <div class="pg-author-card kg-card kg-cta-card kg-cta-bg-white kg-cta-minimal kg-cta-has-img" data-layout="minimal">

          <div class="kg-cta-sponsor-label-wrapper">
            <div class="kg-cta-sponsor-label">
              <span style="white-space: pre-wrap;">{{name}}</span>
            </div>
          </div>
            
          <div class="kg-cta-content">
              
            <div class="kg-cta-image-container">
              <a href="{{url}}"><img src="{{profile_image}}" alt="{{name}}" data-image-dimensions="288x288"></a>
            </div>

            <div class="kg-cta-content-inner">

              <div class="kg-cta-text">
                <p dir="ltr"><span style="white-space: pre-wrap;">{{bio}}</span></p>
              </div>

              <a href="{{url}}" class="kg-cta-button " style="background-color: #F0F0F0; color: #000000;">
                More from this author
              </a>
                
            </div>
              
          </div>
        </div>
        {{/foreach}}

      </section>
    </article>
  </div>
{{/post}}
