<section class="mdx-parallax__group mdx-why-care" data-md-color-scheme="slate" data-md-color-primary="indigo">
  <div class="md-content md-grid" data-md-component="content">
    <div class="md-content__inner">
      <header class="md-typeset">
        <h2>
          Latest Privacy & Security Headlines
        </h2>
      </header>
      <div class="mdx-expect">
        <ul class="mdx-expect__list">
          {{#get "tags" filter="slug:news+visibility:public"}}
            {{#foreach tags}}
              {{#get "posts" include="tags,authors" filter="tag:{{slug}}" limit="4"}}
                {{#foreach posts}}
                  <li class="mdx-expect__item md-typeset">
                    <div class="mdx-expect__icon">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h440l200 200v440q0 33-23.5 56.5T760-120H200Zm0-80h560v-400H600v-160H200v560Zm80-80h400v-80H280v80Zm0-320h200v-80H280v80Zm0 160h400v-80H280v80Zm-80-320v160-160 560-560Z"/></svg>
                    </div>
                    <div class="mdx-expect__description">
                      <h3><a href="{{#if canonical_url}}{{canonical_url}}{{else}}{{url}}{{/if}}">{{#if custom_title}}{{custom_title}}{{else}}{{title}}{{/if}}</a></h3>
                      <p>
                        {{#if custom_excerpt}}
                          {{custom_excerpt}}
                        {{else}}
                          {{excerpt}}
                        {{/if}}
                      </p>
                    </div>
                  </li>
                {{/foreach}}
              {{/get}}
            {{/foreach}}
          {{/get}}
        </ul>
      </div>
      <div class="md-post__meta md-meta">
        <ul class="md-meta__list">
          <li class="md-meta__item">
            <a href="/news/" class="md-meta__link">
              See all news briefs →
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
