<div class="md-sidebar md-sidebar--primary{{#if hide-desktop}} pg-hide-desktop{{/if}}{{#if hide-mobile}} pg-hide-mobile{{/if}}" data-md-component="sidebar" data-md-type="navigation">
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
      <nav class="md-nav md-nav--primary md-nav--lifted" aria-label="Navigation" data-md-level="0">
        <label class="md-nav__title" for="__drawer">
          <a
            href="{{@site.url}}"
            title="{{@site.title}}"
            class="md-nav__button md-logo"
            aria-label="{{@site.title}}"
            data-md-component="logo"
          >
            <img src="{{@site.logo}}" alt="{{@site.title}}">
          </a>
          {{@site.title}}
        </label>
        <ul class="md-nav__list">
          <li class="md-nav__item">
            <a href="https://www.privacyguides.org/en/" class="md-nav__link">
              <span class="md-ellipsis">
                Home
              </span>
            </a>
          </li>
          <li class="md-nav__item">
            <a href="https://www.privacyguides.org/en/basics/why-privacy-matters/" class="md-nav__link">
              <span class="md-ellipsis">
                Knowledge Base
              </span>
            </a>
          </li>
          <li class="md-nav__item">
            <a href="https://www.privacyguides.org/en/tools/" class="md-nav__link">
              <span class="md-ellipsis">
                Recommendations
              </span>
            </a>
          </li>
          <li class="md-nav__item">
            <a href="https://www.privacyguides.org/articles/" class="md-nav__link">
              <span class="md-ellipsis">
                Articles
              </span>
            </a>
          </li>
          <li class="md-nav__item">
            <a href="https://www.privacyguides.org/videos/" class="md-nav__link">
              <span class="md-ellipsis">
                Videos
              </span>
            </a>
          </li>
          <li class="md-nav__item">
            <a href="https://discuss.privacyguides.net/" class="md-nav__link">
              <span class="md-ellipsis">
                Forum
              </span>
            </a>
          </li>
          <li class="md-nav__item">
            <a href="https://discuss.privacyguides.net/c/community-wiki/9411/none" class="md-nav__link">
              <span class="md-ellipsis">
                Wiki
              </span>
            </a>
          </li>
          <li class="md-nav__item">
            <a href="https://www.privacyguides.org/en/about/" class="md-nav__link">
              <span class="md-ellipsis">
                About
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
