<div class="md-header__topic" data-md-component="header-topic">
  <span class="md-ellipsis">
    {{#is "post, page, tag"}}
      {{#is "post"}}
        {{#post}}{{title}}{{/post}}
      {{/is}}
      {{#is "page"}}
        {{#page}}{{title}}{{/page}}
      {{/is}}
      {{#is "tag"}}
        {{#tag}}{{name}}{{/tag}}
      {{/is}}
      {{#is author}}
        {{#primary_author}}{{name}}{{/primary_author}}
      {{/is}}
    {{else}}
      {{@site.title}}
    {{/is}}
  </span>
</div>
