<div class="md-header__topic" data-md-component="header-topic">
  <span class="md-ellipsis">
    {{#is "post, page, tag"}}
      {{#is "post"}}
        {{title}}
      {{/is}}
      {{#is "page"}}
        {{title}}
      {{/is}}
      {{#is "tag"}}
        {{name}}
      {{/is}}
      {{#is author}}
        {{name}}
      {{/is}}
    {{else}}
      {{@site.title}}
    {{/is}}
  </span>
</div>
