<figure class="mdx-spotlight__feature">
  <a href="{{#if canonical_url}}{{canonical_url}}{{else}}{{url}}{{/if}}" tabindex="-1">
    <img
      srcset="{{img_url feature_image size="s" absolute="true"}} 300w,
              {{img_url feature_image size="m" absolute="true"}} 720w,
              {{img_url feature_image size="l" absolute="true"}} 960w,
              {{img_url feature_image size="xl" absolute="true"}} 1200w,
              {{img_url feature_image size="xxl" absolute="true"}} 2000w"
      sizes="(max-width: 1200px) 100vw, 1200px"
      src="{{img_url feature_image size="m" absolute="true"}}"
      alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
    >
  </a>
  <figcaption class="md-post md-post--excerpt">
    <div class="md-typeset">
      <h1><a href="{{#if canonical_url}}{{canonical_url}}{{else}}{{url}}{{/if}}">{{#if custom_title}}{{custom_title}}{{else}}{{title}}{{/if}}</a></h1>
      <p>
        {{#if custom_excerpt}}
          {{custom_excerpt}}
        {{else}}
          {{excerpt}}
        {{/if}}
      </p>
    </div>

    <header class="md-post__header">
      {{#if show_authors}}
        <nav class="md-post__authors md-typeset">
          {{#foreach authors limit="3"}}
            <a class="md-author" href="{{url}}">
              <img src="{{profile_image}}" alt="{{name}}"> 
            </a>
          {{/foreach}}
        </nav>
      {{/if}}
      <div class="md-post__meta md-meta">
        <ul class="md-meta__list">
          <li class="md-meta__item">
            {{#has visibility="paid"}}
              <time datetime="{{date format="YYYY-MM-DD"}}">
                <span title="{{date format="MMMM DD, YYYY"}}">Members-Only{{#has tag="videos"}}: Early Access{{/has}}</span>
              </time>
            {{else}}
              <time datetime="{{date format="YYYY-MM-DD"}}">
                {{date format="MMMM DD, YYYY"}}
              </time>
            {{/has}}
          </li>
          <li class="md-meta__item">
            <a href="{{#if canonical_url}}{{canonical_url}}{{else}}{{url}}{{/if}}" class="md-meta__link">{{#if action}}{{action}}{{else}}Watch now →{{/if}}</a>
          </li>
        </ul>
      </div>
    </header>


    
  </figcaption>
</figure>
