<li class="{{liClass}}">
  <a href="/en/basics/why-privacy-matters/" class="{{linkClass}}">
    <span class="md-ellipsis">
      Knowledge Base
    </span>
  </a>
</li>
<li class="{{liClass}}">
  <a href="/en/tools/" class="{{linkClass}}">
    <span class="md-ellipsis">
      Recommendations
    </span>
  </a>
</li>
<li class="{{liClass}}">
  <a href="/posts/tag/articles/" class="{{linkClass}}">
    <span class="md-ellipsis">
      Articles
    </span>
  </a>
</li>
<li class="{{liClass}}">
  <a href="/videos/" class="{{linkClass}}">
    <span class="md-ellipsis">
      Videos
    </span>
  </a>
</li>
<li class="{{liClass}}">
  <a href="https://discuss.privacyguides.net/" class="{{linkClass}}">
    <span class="md-ellipsis">
      Forum
    </span>
  </a>
</li>
<li class="{{liClass}}">
  <a href="https://discuss.privacyguides.net/c/community-wiki/9411/none" class="{{linkClass}}">
    <span class="md-ellipsis">
      Wiki
    </span>
  </a>
</li>
<li class="{{liClass}}">
  <a href="/en/about/" class="{{linkClass}}">
    <span class="md-ellipsis">
      About
    </span>
  </a>
</li>
