<a class="podcast-button" href="https://www.youtube.com/playlist?list=PL1m__5QdVZYwrrfLgBBAypcKMBlJtXUSP">
  <img alt="Watch on YouTube" src="{{asset 'images/podcast/youtube-light.svg'}}#only-light" width="118" height="40">
  <img alt="Watch on YouTube" src="{{asset 'images/podcast/youtube-dark.svg'}}#only-dark" width="118" height="40">
</a>
<a class="podcast-button" href="https://fm.neat.tube/@thisweekinprivacy/feed.xml">
  <img alt="Get the RSS Feed" src="{{asset 'images/podcast/rss-light.svg'}}#only-light" width="126" height="40">
  <img alt="Get the RSS Feed" src="{{asset 'images/podcast/rss-dark.svg'}}#only-dark" width="126" height="40">
</a>
<a class="podcast-button" href="https://podcasts.apple.com/podcast/id1726826455">
  <img alt="Listen on Apple Podcasts" src="{{asset 'images/podcast/apple-light.svg'}}#only-light" width="174" height="40">
  <img alt="Listen on Apple Podcasts" src="{{asset 'images/podcast/apple-dark.svg'}}#only-dark" width="174" height="40">
</a>
<a class="podcast-button" href="https://www.subscribeonandroid.com/fm.neat.tube/@thisweekinprivacy/feed.xml">
  <img alt="Subscribe on Android" src="{{asset 'images/podcast/subscribeonandroid-light.svg'}}#only-light" width="112" height="40">
  <img alt="Subscribe on Android" src="{{asset 'images/podcast/subscribeonandroid-dark.svg'}}#only-dark" width="112" height="40">
</a>
<a class="podcast-button" href="https://open.spotify.com/show/4ymijssFG5UKHnQh3AgruZ">
  <img alt="Listen on Spotify" src="{{asset 'images/podcast/spotify-light.svg'}}#only-light" width="106" height="40">
  <img alt="Listen on Spotify" src="{{asset 'images/podcast/spotify-dark.svg'}}#only-dark" width="106" height="40">
</a>
<a class="podcast-button" href="https://music.amazon.com/podcasts/864d6ff9-57ee-41af-ac81-f9db053cd266/this-week-in-privacy">
  <img alt="Listen on Amazon Music" src="{{asset 'images/podcast/amazonmusic-light.svg'}}#only-light" width="166" height="40">
  <img alt="Listen on Amazon Music" src="{{asset 'images/podcast/amazonmusic-dark.svg'}}#only-dark" width="166" height="40">
</a>
<a class="podcast-button" href="https://pca.st/pexbr5yc">
  <img alt="Listen on Pocket Casts" src="{{asset 'images/podcast/pocketcasts-light.svg'}}#only-light" width="155" height="40">
  <img alt="Listen on Pocket Casts" src="{{asset 'images/podcast/pocketcasts-dark.svg'}}#only-dark" width="155" height="40">
</a>
<a class="podcast-button" href="https://antennapod.org/deeplink/subscribe?url=https://fm.neat.tube/@thisweekinprivacy/feed.xml&title=This+Week+in+Privacy">
  <img alt="Listen on Antennapod" src="{{asset 'images/podcast/antennapod-light.svg'}}#only-light" width="147" height="40">
  <img alt="Listen on Antennapod" src="{{asset 'images/podcast/antennapod-dark.svg'}}#only-dark" width="147" height="40">
</a>
<a class="podcast-button" href="https://www.pandora.com/podcast/this-week-in-privacy/PC:1001110120">
  <img alt="Listen on Pandora" src="{{asset 'images/podcast/pandora-light.svg'}}#only-light" width="116" height="40">
  <img alt="Listen on Pandora" src="{{asset 'images/podcast/pandora-dark.svg'}}#only-dark" width="116" height="40">
</a>
