<ul {{#if ulClass}}class="{{ulClass}}"{{/if}}>
  <li {{#if liClass}}class="{{liClass}}"{{/if}}>
    <a href="https://www.privacyguides.org/en/kb" hreflang="en" {{#if linkClass}}class="{{linkClass}}"{{/if}}>
      <img alt="en" class="twemoji" src="{{asset 'images/flags/1f1fa-1f1f8.svg'}}" width="20" height="20">
      English
    </a>
  </li>
  <li {{#if liClass}}class="{{liClass}}"{{/if}}>
    <a href="https://www.privacyguides.org/es/kb" hreflang="es" {{#if linkClass}}class="{{linkClass}}"{{/if}}>
      <img alt="es" class="twemoji" src="{{asset 'images/flags/1f1ea-1f1f8.svg'}}" width="20" height="20">
      Español
    </a>
  </li>
  <li {{#if liClass}}class="{{liClass}}"{{/if}}>
    <a href="https://www.privacyguides.org/fr/kb" hreflang="fr" {{#if linkClass}}class="{{linkClass}}"{{/if}}>
      <img alt="fr" class="twemoji" src="{{asset 'images/flags/1f1eb-1f1f7.svg'}}" width="20" height="20">
      Français
    </a>
  </li>
  <li {{#if liClass}}class="{{liClass}}"{{/if}}>
    <a href="https://www.privacyguides.org/he/kb" hreflang="he" {{#if linkClass}}class="{{linkClass}}"{{/if}}>
      <img alt="he" class="twemoji" src="{{asset 'images/flags/1f1ee-1f1f1.svg'}}" width="20" height="20">
      עברית
    </a>
  </li>
  <li {{#if liClass}}class="{{liClass}}"{{/if}}>
    <a href="https://www.privacyguides.org/it/kb" hreflang="it" {{#if linkClass}}class="{{linkClass}}"{{/if}}>
      <img alt="it" class="twemoji" src="{{asset 'images/flags/1f1ee-1f1f9.svg'}}" width="20" height="20">
      Italiano
    </a>
  </li>
  <li {{#if liClass}}class="{{liClass}}"{{/if}}>
    <a href="https://www.privacyguides.org/nl/kb" hreflang="nl" {{#if linkClass}}class="{{linkClass}}"{{/if}}>
      <img alt="nl" class="twemoji" src="{{asset 'images/flags/1f1f3-1f1f1.svg'}}" width="20" height="20">
      Nederlands
    </a>
  </li>
  <li {{#if liClass}}class="{{liClass}}"{{/if}}>
    <a href="https://www.privacyguides.org/ru/kb" hreflang="ru" {{#if linkClass}}class="{{linkClass}}"{{/if}}>
      <img alt="ru" class="twemoji" src="{{asset 'images/flags/1f1f7-1f1fa.svg'}}" width="20" height="20">
      Русский
    </a>
  </li>
  <li {{#if liClass}}class="{{liClass}}"{{/if}}>
    <a href="https://www.privacyguides.org/zh-Hant/kb" hreflang="zh-Hant" {{#if linkClass}}class="{{linkClass}}"{{/if}}>
      <img alt="zh-Hant" class="twemoji" src="{{asset 'images/flags/1f1ed-1f1f0.svg'}}" width="20" height="20">
      中文 (繁體)
    </a>
  </li>
  <li {{#if liClass}}class="{{liClass}}"{{/if}}>
    <a href="https://www.privacyguides.org/zh-TW/kb" hreflang="zh-TW" {{#if linkClass}}class="{{linkClass}}"{{/if}}>
      <img alt="zh-TW" class="twemoji" src="{{asset 'images/flags/1f1f9-1f1fc.svg'}}" width="20" height="20">
      中文 (繁體，台灣)
    </a>
  </li>
</ul>
